 * {
    margin: 0;
    padding: 0;
    outline: 0;
 }


h1 {
    margin-top: 3rem;
    color: aliceblue;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h3 {
    margin-top: 2rem;
    position: absolute;
    padding: 1rem 1rem;
    color: rgb(75, 0, 175);
    align-items: right;
    text-align: right;
    left: 12.5%;
    top: 10%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    font-size: 28px;
    border-radius: 20px;
}


h4 {
    margin-top: 2rem;
    position: absolute;
    padding: 1rem 1rem;
    color: rgb(75, 0, 175);
    align-items: right;
    text-align: right;
    left: 14.5%;
    top: 57%;
    transform: translate(-50%,-50%);
    background-color: aliceblue;
    font-size: 28px;
    border-radius: 20px;
}

.filter {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.75 ;
   
}

.blog {
    font-size: 20px;
    text-align: left;
    border-radius: 20px;
    position: absolute;
    padding: 1rem 1rem;
    left: 78%;
    margin-top: 3rem;
    transform: translate(-50%,-50%);
    width: 30%;
}


.price {
    background-color: aliceblue;
    color: rgb(105, 0, 205);
    position: absolute;
    font-size: 36px;
    left: 82%;
    top: 65%;
    transform: translate(-50%,-50%);
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
}

.gif {
    position: absolute;
    left: 82%;
    top: 42.5%;
    transform: translate(-50%,-50%);
}


table {
    background-color: whitesmoke;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    left: 47.5%;
    top: 33%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(150, 205, 255, 0.65);
    transform: translate(-71%,-43%);
    width: 60%;
}


.table_2 {
    background-color: whitesmoke;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    left: 47.5%;
    top: 75%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(150, 205, 255, 0.65);
    transform: translate(-71%,-40%);
    width: 60%;

}
 
.table_3 {
    background-color: whitesmoke;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    left: 75%;
    top: 75%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(150, 205, 255, 0.65);
    transform: translate(-71%,-40%);
    width: 60%;

}


th, td {
    padding: 0.3rem 0.8rem;
    font-family: Gill Sans, Gill Sans MT, Calibri, Trebuchet MS, sans-serif;
}

th {
    background-color: rgb(100, 150, 235);
}

tr:nth-child(odd) {
    background-color: rgba(105, 90, 205, 0.15);
}