* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --twitter-color: #50b6f5;
    --twitter-background: #e6ecf0;
    background-color:  #50b6f5b9;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar h2 {
    font-weight: 800;
    font-size: 20px;
    margin-top: 1.5rem;
    background-color: black;
    color: white;
    padding: 0.7rem 0.7rem;
    border-radius: 20px;

}

.post h2 {
    font-weight: 800;
    font-size: 20px;
    margin-top: 1.5rem;
    background-color: black;
    color: white;
    padding: 0.7rem 0.7rem;
    border-radius: 20px;
}

.sidebarOption h3 {
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: rgb(180, 65, 180);
    padding: 0.7rem 0.7rem;
}

body {
    display: flex;
    max-width: 1280px;
    min-width: 240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;

}

.sidebar {
    align-items: center;
    border-right: 3px solid black;
    flex: 0.2;
    min-width: 11.9rem;
    max-width: 426px;
    background-color: #5f00b385;

}
.gif {

    max-width: 10rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.post {
    display:block;
    align-items: flex-start;
    padding-bottom: 1rem;
    border-right: 3px solid black;
    background-color: #e6ecf0;
    min-width: 11.9rem;
    max-width: 426px;
}

.post__footer {
    display: flex;
    margin-bottom: 1.5rem;
    background-color: #b4b4b4;
    color: #00304d;
    padding: 0.4rem 0.4rem;
    border-radius: 15px;
}

.post__headerText {
    text-align: center;
    font-size: 16px;
    margin-bottom: 0.5rem;
    border: 2px solid #646464;
    border-radius: 10px;
    border-color: #68c5ff;

}

.post__headerDescription p {
    margin-bottom: 0.4rem;
    font-size: 18px;  
    background-color: #ffffff;
    padding: 0.8rem 0.8rem;
    border-radius: 10px;
}

.post__body {
    flex: 1;
    padding: 1rem;
}

.header__feed {
    align-items: center;
    align-self: center;
}

.price {
    font-size: 22px;
    background-color: #29004dd1;
    color: #e6ecf0;
    padding: 0.7rem 0.7rem;
    border-radius: 20px;

}