<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="static/style.css">

    <title>Viloger - Vitalik from everywhere!</title>
    
</head>


<body>
        

            <div class="sidebar">
                {% if title and link %}
                <h2>Last Blog Post</h2><br>
                    <div class="sidebarOption">
                        <h3>{{ title }}
                            <a href="{{ link }}">Show more..</a>
                        </h3>
                    </div>

                {% endif %}
                {% if eth_price and market_cap %}
                    <img class="gif" src="https://d33wubrfki0l68.cloudfront.net/eda93ffbdab424441f930641c7b125be75d33624/2e895/images/giphy.gif" />
                    <div class="price">
                        {{ eth_price }} $ <br>
                        Market Cap:<br> {{ market_cap }} $
                    </div>
                {% endif %}
            </div>


            <div class="post">
                <h2>
                    Vitalik's last tweets
                </h2><br>
                {% for tweet in tweets %}
                {% if tweets %}
                <div class="post__body">
                    <div class="post__header">
                        <div class="post__headerText">
                            <h3>
                                {{ tweet[1] }}
                            </h3>
                        </div>
                        <div class="post__headerDescription">
                            <p>
                                {{ tweet[2] }}
                            </p>
                        </div>
                    </div>
                    <div class="post__footer">
                        <p>
                            {{ tweet[0] }}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>


        <div class="post">
            <h2>
                Recent about Vitalik
            </h2><br>
            {% for tweet in tweets_2 %}
            {% if tweets_2 %}
            <div class="post__body">
                <div class="post__header">
                    <div class="post__headerText">
                        <h3>
                            {{ tweet[1] }}
                        </h3>
                    </div>
                    <div class="post__headerDescription">
                        <p>
                            {{ tweet[2] }}
                        </p>
                    </div>
                </div>
                <div class="post__footer">
                    <p>
                        {{ tweet[0] }}
                    </p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    
</body> 
</html>